body{
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
}
nav{
    margin-top:0px;
    background-color: black;
}
ul{ margin-top:0px;
    margin-left:100px; 
    padding:12px 32px;
}
li{
    display:inline;
    background-color: black;
    color:grey;
    text-align: center;
    padding:0px 8px 0px 8px;
    font-size: small;

}

#brand{
    font-size:16px;
}
.grid-container {
    display: grid;
    justify-content:center;
    grid-template-columns: auto auto auto;
    grid-gap:20px;
    background-color: white;
    padding:20px 0px;
  }

 .box{
     height:180px;
     width:auto;
     background-color: lightgrey;
     color:gray;
     position: relative;
 }

 section{
     margin:0px 140px;
     padding-top:20px;
 }

 .proname{
    color:#007BAF;
    font-weight: normal;
    margin-bottom: 0px;
}

.para{
    font-size: small;
}

 h2{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    margin:0;  
    font-family:serif;
    letter-spacing: 1px;
}

.ph{
    font-size: 3vw;
}

.secondaryText{
    color:gray;
    font-size:normal;
}

.hr2{
    margin:50px 0px;
}

.foot{
    font-size: small;
    font-weight: lighter;
}

@media only screen and (max-width: 1220px) {
 
    .box{
        height:12vw;    
    }

    h2{
        font-size:1.75vw;
    }

    .proname{
        font-size:1.75vw;
    }

    .para{
        font-size: 1.25vw;
    }

}


@media only screen and (max-width: 768px){
    ul{
        padding:1vw 0vw ;
        margin:0% 0% 0% 12%;
    }
    
    li{
        font-size:1.5vw;
        padding:0px;
    }
    #brand{
        font-size:1.75vw;
        padding:0;
    }

    h2{
        font-size:2vw;
    }

    .box{
        height:12vw;    
    }
    
    .secondaryText{
        font-size:1.75vw;
    }

    section{
        margin:0% 12%;
        padding-top:2vw;
    }

    .proname{
        font-size:2vw;
    }

    .hr1{
        margin:0;
    }

    .para{
        font-size: 1.5vw;
    }

    .grid-container{
        grid-gap:2%;
        padding:3vw 0px;
    }

    .hr2{
        margin:3vw 0vw;
    }

    .foot{
        font-size: 1.5vw;
    }

}



@media only screen and (max-width: 550px) {

    ul{
        padding:2vw 2vw 2vw 0vw;
    }
    
    li{
        font-size:3vw;
        padding:0vw 3vw;
    }
    #brand{
        font-size:3.5vw;
        padding:0;
    }

    section{
        padding-top:3vw;
        overflow: visible;
    }

    .ph{
        font-size: 5vw;
    }
    
    .secondaryText{
        font-size:3.5vw;
    }

    .hr1{
        margin:1vw 0vw;
    }

    .grid-container {
        grid-template-columns: auto;
        grid-template-rows: 60vw 60vw 60vw 60vw 60vw 60vw 60vw 60vw ;
        padding:4vw 0px;
        grid-row-gap: 0;
      }

    .box{
        height:30vw;   
     }

    h2{
        font-size:4vw;
    }



    .proname{
        font-size:4vw;
    }

    .para{
        font-size: 3vw;
        line-height: 1.5;
    }
    .hr2{
        margin:4vw 0vw;
    }

    .foot{
        font-size: 2.5vw;
    }
    

}