#box{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    width:70%;
    height:150px;
    background-color:lightgray ;
    border-radius:10px;
}

button{
    width:auto;
    background-image: linear-gradient(lightskyblue,#007baf);
    border-radius:50px;
    color:white;
    padding:8px 16px;
    border:none;
    text-decoration: none;
}