body{
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
}
nav{
    margin-top:0px;
    background-color: black;
}
ul{ margin-top:0px;
    margin-left:100px; 
    padding:12px 32px;
}
li{
    display:inline;
    background-color: black;
    color:grey;
    text-align: center;
    padding:0px 4px 0px 4px;
    font-size:small;

}

#brand{
    font-size: 16px;
}

section{
    margin:0px 140px 0px 140px;
}

#hbox{
    background-color: #E8E8E8;
    text-align: left;
    padding:32px 48px;
    border-radius: 3px;
    margin-top:50px;
    margin-bottom: 30px;
}

.heading{
    margin:0px;
    font-size:48px;
}

button{
    background-color:#3399CC;
    color:white;
    text-decoration: none;
    padding:8px 8px;
    border-radius: 3px;
    font-size: 12px;
    border:1px solid #3399cc;
}

.grid-container {
    display: grid;
    justify-content:center;
    grid-template-columns: auto auto auto auto;
    grid-gap:20px;
    background-color: white;
    padding-bottom:20px;
  }



.latest{
    margin:0px;
    padding:24px 0px 8px 0px;
    font-weight: normal;
}

.ubox{
    padding: 3px;
    border: 1px solid lightgray;
}

.box{
    height:130px;
    width:auto;
    background-color: lightgrey;
    color: gray;
    text-align: center;
    position:relative;
}

h2{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    margin:0; 
}

.box2{
    text-align: center;
    padding:24px 32px 16px 32px;
}

.feature{
    margin:0px;
    font-weight: normal;
    padding:8px 0px 0px 0px;
}

.para{
    margin:0;
    padding:12px 8px;
    font-size:small;
}

 

 h3{
     padding:8px 0px 0px 0px;
     font-weight:normal;

 } 

.wbtn{
    background-color: white;
    color:black;
    border:1px solid lightgray;
}

.hr2{
    margin:50px 0px;
}

.foot{
    font-size: small;
    font-weight: lighter;
}

@media only screen and (max-width: 1220px) {
 
    .grid-container{
        grid-gap:1.5vw;
        padding:1vw 0vw 3vw 0vw;
        grid-template-columns: auto auto  auto auto;
        justify-content: space-around;
    }

    .box{
        height:10vw;   
     }

    .box2{
        padding:1.5vw 1vw 1vw 1vw;
    }

    .wbtn{
        margin-top:.5vw;
    }
}




@media only screen and (max-width: 1024px){
    ul{
        padding:1vw 0vw;
        margin:0% 0% 0% 12%;
    }

    li{
        font-size:2vw;
        
    }

    #brand{
        font-size:2.25vw;
        padding:0;
    }

    section{
        margin:0% 12%;
        padding-top:3vw;
    }

    #hbox{
        margin:0px;
        padding:4vw 5vw;
        border-radius:.5vw;
    }

    .heading{
        margin:0px;
        font-size:5vw;
    }
    .para1{
        font-size: 1.75vw;
        margin-bottom: 1vw;
    }

    button{
        padding:.5vw 1vw;
        border-radius:.5vw;
        font-size: 1.5vw;
    }

    .latest{
        font-size: 3vw;
        padding:0px;
    }

    .ubox{
        padding: .5vw;
    }

    .box{
        height:15vw;   
     }

    h2{
        font-size:3vw;
    }

    .box2{
        text-align: center;
        padding:1.5vw 1.5vw 1vw 1.5vw;
    }


    .feature{
      font-size: 2.5vw;
      padding:0px;
    }

    .para{
        font-size: 2vw;
        padding:1vw 0 1vw 0;
    }

    .grid-container{
        grid-gap:4vw;
        padding:1vw 0vw 3vw 0vw;
        grid-template-columns: auto auto ;
        justify-content: space-around;
    }

    .hr2{
        margin:3vw 0vw;
    }

    .foot{
        font-size: 1.5vw;
    }


    

    @media only screen and (max-width: 500px) {

        ul{
            padding:2vw 2vw 2vw 0vw;
        }
        
        li{
            font-size:3.5vw;
            padding:0vw 3vw;
        }
        #brand{
            font-size:4vw;
            padding:0;
        }
    
        section{
            padding-top:4vw;
        }

        #hbox{
            padding:4vw 5vw;
            border-radius:.5vw;
        }

        .heading{
            font-size:6vw;
        }

        .para1{
            font-size: 3.25vw;
            line-height: 1.5;
            margin-bottom: 1.5vw;
        }

        button{
            padding:1vw 2vw;
            border-radius:.5vw;
            font-size: 3vw;
        }
    
        .latest{
            font-size: 4.5vw;
            padding:0px;
        }

        .grid-container {
            grid-template-columns: auto;
            grid-template-rows: 60vw 60vw 60vw 60vw  ;
            padding:4vw 0px;
            grid-row-gap: 4vw;
          }

        .ubox{
            padding: 1vw;
        }
    
        .box{
            height:30vw;   
         }
    
        h2{
            font-size:4.5vw;
        }
        
        .box2{
            padding:2vw 2vw 1vw 2vw;
        }
    
        .feature{
          font-size: 4.5vw;
        }
    
        .para{
            font-size: 3.5vw;
            padding:2vw 0 ;
        }
        
    
        .hr2{
            margin:4vw 0vw;
        }
    
        .foot{
            font-size: 3vw;
        }
        
    
    }

}